<div>

    <header>
        <h2>beers</h2>
    </header>

    <main class="cards-container">


</div>
<div>
    <img src="/images/beer.png" alt="beer.png">
    <a href="/beers"><button>check the beers</button></a>
    <a href="/random-beers"><button>check a random beer</button></a>
</div>

</main>

</div>