<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IHMDB</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <nav class="navbar">
        <h3> bier</h3>
        <div class="navbar-nav">
            <a href="/">Home</a>
            <a href="/beers">beers</a>
            <a href="/random-beers">random-beers</a>
        </div>
    </nav>

    <div class='view-container'>
        {{{ body }}} {{!--  Injects the view into the layout --}}
    </div>



</body>

</html>